@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
body{
   background-color: rgba(250, 245, 245, 0.979);
    margin: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.sectionarriba{
    position: absolute;
    display: flex;
    height: 5em;
    width: 100vw;
    color: white;
    border-bottom:  0.05rem solid white;
    border-top:  0.05rem solid white;
    box-shadow:  0px 2px 15px rgb(247, 241, 241);
    background-color: rgba(0, 0, 0, 0.479);
    margin-top: -39em;
}
.sectionarriba  .logopro img{
    margin-top: rem;
    width: 4.5em;
    animation: mover 1s ease-in-out 1;
    margin-left: 5rem;
}
.sectionarriba .nombrepro img{
    margin-top: 2rem;
    width: 5em;
    animation: mover2 1s ease-in-out 1;
    margin-left: -4.9em;
}
@keyframes mover{
    from{
        transform: translate(220px); 
    }
    to{
        transform: translate(0);
    }
}
@keyframes mover2 {
    from{
        transform: translate(-200px);
    }
    to{
        transform: translate(0);
    }
}
#header {
    margin-top: 0.5em;
    justify-self: center;
    align-items: center;
    margin-left: 15em;
    width: 100vw;
    font-family:Arial, Helvetica, sans-serif;
}
ul, ol {
    list-style:none;

}

.nav > li {
    float:left;
}

.nav a {
    display: flex;
    justify-content: center;
    padding: 0 0 0 0;
    width: 7em;
}

.nav li a {
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:flex;
    font-weight: 700;
}

.nav li a:hover {
    background-color:#f3f0f03d;
    border-radius: 1rem;
}


.section-a{
    position: relative;
    color: white;
    display: flex;
    gap: 10em;
    background: no-repeat;
    width: 100vw;
    display: flex;
    margin-left: 0em;
    height: 40em;
    background-position: 50%;
    background-image: url(https://st1.u-tad.com/media/2021/12/desarrollo-aplicaciones-web.jpg);
    border-bottom: 1px solid black ;
}
.jump{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 20em;
    height: 7em;
    margin-left: 9em;
    margin-top: 9em;
    color: rgb(247, 243, 243);
    font-weight: 400;
}
.section-a h3{
    font-size: 2rem;
    font-family: 'Slabo 27px', serif;
    margin: 0.5em;
}
.section-a p{

    font-family: 'Slabo 27px', serif;
    font-weight: 600;
}
.porta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.separador{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    margin: 0;

}
hr{
    width: 40vw;
}

.porta h3 {
    font-family: 'Slabo 27px', serif;
}
.container{
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    gap: 2em;
    height: 21em;
    margin-bottom: 2rem;
    margin-top: -3em;
    left: 5em;
}
.cap p{
    font-family: 'Slabo 27px', serif;
}
.cap img{
    width: 28vw;
    transition: 0.5s;
    border-radius: 1rem;
    border: 0.15em solid rgb(108, 108, 110);

}
.content{
    width: 100%;
   
   }
 .cap .content img:hover {
    cursor: pointer;
   width: 35vw;
   box-shadow: 0 20px 25px rgb(108, 108, 110);
   box-shadow: 0 20px 25px rgb(108, 108, 110);
}


.content p {
    color: rgba(255, 255, 255, 0);
    margin-top: -1.5em;
    font-weight: 600;
    font-size: 2rem;
    background-color: black;
}

.content:hover p{
    color:rgb(210, 210, 212);
   text-decoration: underline;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
a img {
    width: 2.5em;
}
.redes a img {
    margin-left: 2rem;
}
a img:hover{
    opacity: 0.50;
}


