body {
    background-image: url(https://mobimg.b-cdn.net/v3/fetch/05/05eeb93a2e41734ecb6044146351f11e.jpeg);
    width: 100vw;
    background-position: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}
.content{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    color: white;
    
}
.content img{
    width: 25rem;
    box-shadow: 0 10px 10px rgb(248, 248, 250);
    border-radius: 1rem;
 
}

.content img:hover {
opacity: 0.80;
}